.modalBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
}

.closeButton {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton:hover {
  background-color: rgba(#0a2855, 0.1);
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  padding: 0.2rem 0.5rem;
  color: #0a2855;
  font-size: 0.9rem;
}

.input {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #cbd5ff;
  border-radius: 0.5rem;
  width: 100%;
  outline: none;
}

.error {
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  color: red;
}

.button {
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  background-color: #0a2855;
  border: 1px solid #cbd5ff;
  border-radius: 0.5rem;
  width: 100%;
  color: #fff;
}

@media (max-width: 600px) {
  .modal {
    max-width: 360px;
  }

  .form {
    padding: 10px;
  }

  .closeButton {
    width: 24px;
    height: 24px;
  }
}
