.container {
  width: 100%;
  height: 600px;
  padding: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background: #0a2855;
  padding: 1rem;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  width: 100px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleBox {
  display: flex;
  gap: 5px;
}

.titleBox label {
  color: #0a2855;
  font-weight: bold;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBox input {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 0 1rem;
  width: 500px;
  height: 30px;
}

.categoryBox {
  display: flex;
  gap: 5px;
}

.categoryBox label {
  color: #0a2855;
  font-weight: bold;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryBox select {
  appearance: none;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 0 1rem;
  width: 500px;
  height: 30px;
}

.categoryBox select:hover {
  border-color: #0a2855;
}

.imageBox {
  display: flex;
  gap: 5px;
}

.imageBox label {
  color: #0a2855;
  font-weight: bold;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBox input[type='file']::-webkit-file-upload-button {
  background-color: #0a2855;
  color: #fff;
  width: 100px;
  border-radius: 5px;
}

.radioContainer {
  display: flex;
}

.radioContainerTitle {
  color: #0a2855;
  font-weight: bold;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioBox {
  display: flex;
  gap: 1rem;
}

.radioBox div {
  display: flex;
  gap: 5px;
}

@media (max-width: 1000px) {
  .titleBox {
    flex-direction: column;
  }

  .categoryBox {
    flex-direction: column;
  }

  .imageBox label {
    width: 80px;
    flex-direction: column;
  }

  .titleBox label {
    width: 80px;
    flex-direction: column;
  }

  .categoryBox label {
    width: 80px;
    flex-direction: column;
  }

  .imageBox {
    flex-direction: column;
  }

  .radioContainerTitle {
    width: 80px;
  }

  .radioBox {
    display: flex;
    gap: 1rem;
  }

  .radioBox div {
    display: flex;
    gap: 5px;
  }

  .btn {
    padding: 1rem;
  }
}

@media (max-width: 762px) {
  .container {
    padding: 0 1rem 1rem 1rem;
  }

  .titleBox input {
    width: 100%;
    min-width: 340px;
  }

  .categoryBox select {
    width: 100%;
    min-width: 340px;
  }

  .section {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .btn {
    padding: 0.5rem;
  }
}
