.container {
  background: #0a2855;
  position: relative;
  height: 200px;
}

.blogBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding: 0 3rem;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  max-width: 400px;
  color: #fff;
}

.description {
  font-size: 1.3rem;
  max-width: 300px;
  color: #fff;
}

.titleInput {
  border: 1px solid #ffffff;
  padding: 1rem;
  outline: none;
  border-radius: 10px;
  width: 400px;
  font-size: 1.5rem;
  resize: none;
}

.descriptionInput {
  border: 1px solid #0a2855;
  padding: 1rem;
  outline: none;
  border-radius: 10px;
  width: 400px;
  font-size: 1.3rem;
  resize: none;
}

.btnBox {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 0.5rem;
  color: #fff;
}

.btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
}

@media (max-width: 762px) {
  .container {
    height: 150px;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.1rem;
    text-align: right;
  }

  .titleInput {
    width: 300px;
    font-size: 1.5rem;
  }

  .descriptionInput {
    width: 300px;
    font-size: 1.1rem;
  }

  .btnBox {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .container {
    min-width: 370px;
    height: 130px;
  }

  .blogBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
  }

  .title {
    width: 100%;
    font-size: 1.3rem;
    padding: 0;
  }

  .description {
    width: 100%;
    font-size: 1rem;
    padding: 0;
    text-align: start;
  }

  .titleInput {
    width: 80%;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .descriptionInput {
    width: 80%;
    padding: 0 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .btnBox {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .container {
    height: 110px;
  }

  .title {
    font-size: 1.1rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .titleInput {
    width: 70%;
    font-size: 1.1rem;
    height: 100%;
  }

  .descriptionInput {
    width: 70%;
    height: 100%;
  }
}
