.side_content {
  margin-top: 4px;
  width: 185px;
  max-height: 800px;
  background: #fff;
  padding-bottom: 30px;
}

.profile_image_wrap {
}

.profile_wrap {
  display: flex;
  flex-direction: column;
  color: #7b6d6d;
  width: 161px;
  padding: 12px 0 12px;
  border-bottom: 1px solid rgba(123, 109, 109, 0.2);
  margin: 0 auto;
}

.profile_title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.profile_nickname {
  padding-top: 8px;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.5;
}

.profile_menu {
  display: flex;
  padding-top: 12px;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  gap: 10px;
}

.profile_menu a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.category_wrap {
  display: flex;
  flex-direction: column;
  width: 171px;
  margin: 0 auto;
}

.category_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 47px;
  /* padding-bottom: 7px; */
}

.category_title {
  font-size: 12px;
  margin-left: 14px;
  color: #7b6d6d;
  font-weight: 600;
}

.category_line {
  width: 161px;
  height: 2px;
  background: #7b6d6d;
  opacity: 0.4;
  margin: 0 auto;
}

.category_more {
  color: #7b6d6d;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.categories {
  position: relative;
  width: 161px;
  margin: 0 auto;
  font-size: 12px;
  padding: 5px 0 8px 9px;
}

.all_view {
  display: flex;
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 12px;
  color: #7b6d6d;
  align-items: center;
  gap: 5px;
}

.all_view_button {
  font-weight: 700;
}

.all_view:hover .all_view_button {
  text-decoration: underline;
}

.category {
  display: flex;
  padding-bottom: 7px;
  font-size: 12px;
  color: #7b6d6d;
  align-items: center;
  gap: 5px;
  padding: 5px 0 0;
}

.category_button {
}

.category:hover .category_button {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.rotate {
  transform: rotate(-180deg);
}

.none {
  display: none !important;
}

.mobile {
}

.mobile_category_open {
  display: none;
}

@media only screen and (min-width: 769px) and (max-width: 1099px) {
  .side_content {
    width: 161px;
  }

  .profile_wrap {
    width: 141px;
  }

  .category_wrap {
    width: 161px;
  }

  .category_line {
    width: 141px;
  }

  .categories {
    width: 141px;
  }
}

@media (max-width: 768px) {
  /* 작은 태블릿 스타일 */

  .mobile_category_open {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
  }

  .side_content {
    width: 100dvw;
    position: fixed;
    background: #fff;
    height: 100vh;
    top: 0;
    left: -100dvw;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 0;
    padding: 24px;
  }

  .profile_wrap {
    display: flex;
    flex-direction: column;
    color: #7b6d6d;
    width: 100%;
    padding: 12px 0 12px;
    border-bottom: 1px solid rgba(123, 109, 109, 0.2);
    margin: 0;
    gap: 5px;
  }

  .category_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .category_line {
    width: 100%;
    height: 2px;
    background: #7b6d6d;
    opacity: 0.4;
    margin: 0;
  }

  .category_more {
    color: #7b6d6d;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .categories {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: 14px;
    padding: 5px 0 8px 9px;
  }

  .show {
    left: 0;
  }
}
