.header {
  height: 33px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.area_logo {
}

.logo_hiblog_logo {
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  color: #7b6d6d;
  padding-left: 12px;
}

.logo_hiblog_logo span {
  color: #fff;
  font-weight: 800;
  background-color: #7b6d6d;
  width: 24px;
  height: 24px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_name {
}

.header_menu {
  display: flex;
  align-items: center;
}

.header_menu a {
  padding: 20px 12px;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  position: relative;
}

.header_menu a:first-child::after {
  position: absolute;
  top: 22px;
  right: 0;
  width: 1px;
  height: 12px;
  background: #dbdbdb;
  content: '';
}

.header_menu a:nth-child(2)::after {
  position: absolute;
  top: 22px;
  right: 0;
  width: 1px;
  height: 12px;
  background: #dbdbdb;
  content: '';
}
