.content {
  width: 770px;
}

.list_post_article {
  box-sizing: border-box;
}

.item {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 25px 0 23px;
  border-bottom: 1px solid #eeeeef;
}

.info_post {
  flex: 1;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.info_post a {
  display: flex;
}

.author {
  display: inline-block;
}

.thumbnail_author {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}

.thumbnail_author img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.info_author {
  display: flex;
  flex-direction: column;
}

.name_author {
  display: block;
  height: 16px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.time {
  font-size: 11px;
  color: #959595;
  line-height: 13px;
}

.desc {
  margin-top: 16px;
}

.title_post {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 573px;
  min-height: 20px;
  max-height: 50px;
  font-size: 17px;
  line-height: 25px;
  word-break: break-all;
}

.desc a:first-child:hover .title_post {
  text-decoration: underline;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 573px;
  max-height: 60px;
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;
  color: #666;
  word-break: break-all;
}
.desc a:last-child:hover .text {
  text-decoration: underline;
}

.thumbnail_post {
  width: 167px;
  height: 167px;
  display: block;
  text-align: center;
}

.thumbnail_post_image {
  width: 167px;
  height: 167px;
  object-fit: cover;
}

@media only screen and (min-width: 769px) and (max-width: 1099px) {
  .content {
    width: 769px;
  }

  .title_post {
    width: 500px;
    font-size: 16px;
  }

  .text {
    width: 500px;
  }

  .thumbnail_post {
    width: 150px;
    height: 150px;
  }

  .thumbnail_post_image {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* 작은 태블릿 스타일 */

  .content {
    width: 481px;
  }

  .item {
    flex-direction: column-reverse;
    align-items: center;
  }

  .title_post {
    width: 400px;
    font-size: 14px;
  }

  .text {
    width: 400px;
  }

  .info_post {
    padding-top: 30px;
  }

  .thumbnail_post {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }

  .thumbnail_post_image {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  /* 모바일 스타일 */

  .content {
    width: 100%;
    max-width: 480px;
    min-width: 300px;
  }

  .item {
    flex-direction: column-reverse;
    align-items: center;
  }

  .title_post {
    width: 300px;
    font-size: 14px;
  }

  .text {
    width: 300px;
  }

  .info_post {
    padding-top: 30px;
  }

  .thumbnail_post {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }

  .thumbnail_post_image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
}
