.top_views {
  position: relative;
  height: 305px;
  background-color: #f5f5f6;
  padding: 20px 0 15px;
}

.inner {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  display: inline-block;
  height: 19px;
  margin-bottom: 11px;
  margin-top: -1px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  color: #e55e5e;
}

.list_group {
  overflow: hidden;
}

.list_topviews {
  height: 240px;
  display: flex;
  justify-content: space-between;
}

.item_wrap {
  box-sizing: border-box;
  width: 252px;
  height: 240px;
}

.item {
  position: relative;
}

.bg_image {
  z-index: -1;
  width: 252px;
  height: 240px;
  object-fit: cover;
}

.desc_post {
  width: 100%;
  position: absolute;
  top: 162px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0 18px 22px 18px;
  color: #fff;
  text-align: center;
  transition: top 0.35s ease;
  word-break: break-all;
  /* display: flex;
  justify-content: center; */
}

.desc_post::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 252.5px;
  opacity: 0.9;
  background: #374257;
  content: '';
}

.title_inner {
  position: relative;
  width: 160px;
  height: 44px;
  margin: 17px auto;
  font-size: 16px;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-height: 44px;
  word-break: break-all;
}

.content_inner {
  position: relative;
  width: 216px;
  height: 44px;
  margin: 17px auto;
  font-size: 13px;
  /* display: none; */
}

.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  word-break: break-all;
}

.thumbnail_author {
  display: flex;
  justify-content: center;
}

.thumbnail_author img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  object-fit: cover;
}

.nickname {
  display: flex;
  justify-content: center;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 5px 0;
  color: #fff;
}

.text_post {
}

.item:hover .content_inner {
  display: block;
}

.item:hover .title_inner {
  display: none;
}

.item:hover .desc_post {
  top: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1099px) {
  .top_views {
    height: 250px;
    padding: 20px 0 15px;
  }

  .inner {
    width: 769px;
  }

  .list_topviews {
    height: 167px;
    display: flex;
    justify-content: space-between;
  }

  .item_wrap {
    box-sizing: border-box;
    width: 167px;
    height: 167px;
  }

  .item {
    position: relative;
  }

  .bg_image {
    z-index: -1;
    width: 167px;
    height: 167px;
    object-fit: cover;
  }

  .desc_post {
    top: 92px;
    padding: 0 18px 22px 18px;
  }

  .desc_post::before {
    width: 167px;
  }

  .title_inner {
    width: 120px;
    font-size: 14px;
  }

  .content_inner {
    position: relative;
    width: 120px;
    height: 44px;
    margin: 17px auto;
    font-size: 13px;
  }

  .nickname {
    max-width: 140px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .top_views {
    height: 520px;
    padding: 20px 0 15px;
  }

  .inner {
    width: 481px;
  }

  .list_topviews {
    height: 460px;
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    grid-template-rows: auto auto;
  }

  .item_wrap {
    box-sizing: border-box;
    width: 220px;
    height: 220px;
  }

  .item {
    position: relative;
  }

  .bg_image {
    z-index: -1;
    width: 220px;
    height: 220px;
    object-fit: cover;
  }

  .desc_post {
    top: 140px;
    padding: 0 18px 22px 18px;
  }

  .desc_post::before {
    width: 220px;
  }

  .title_inner {
    width: 160px;
    font-size: 14px;
  }

  .content_inner {
    position: relative;
    width: 160px;
    height: 44px;
    margin: 17px auto;
    font-size: 13px;
  }

  .nickname {
    max-width: 160px;
  }
}

@media (max-width: 480px) {
  /* 모바일 스타일 */

  .top_views {
    height: 100%;
    padding: 20px 0 15px;
  }

  .inner {
    width: 100%;
    max-width: 480px;
    min-width: 300px;
  }

  .list_group {
    overflow: hidden;
  }

  .list_topviews {
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    margin: 0 auto;
  }

  .item_wrap {
    box-sizing: border-box;
    width: 300px;
    height: 220px;
  }

  .item {
    position: relative;
  }

  .bg_image {
    z-index: -1;
    width: 300px;
    height: 220px;
    object-fit: cover;
  }

  .desc_post {
    top: 140px;
    padding: 0 18px 22px 18px;
  }

  .desc_post::before {
    width: 300px;
  }

  .title_inner {
    width: 160px;
    font-size: 14px;
  }

  .content_inner {
    position: relative;
    width: 160px;
    height: 44px;
    margin: 17px auto;
    font-size: 13px;
  }

  .nickname {
    max-width: 160px;
  }
}
