.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  box-sizing: border-box;
  overflow: auto;
}

.blogInfoBox {
  margin-top: 4rem;
}

.mainContainer {
  display: flex;
  flex: 1;
  gap: 2rem;
  padding-top: 1rem;
}

.categoriesContainer {
  width: 250px;
}

.childrenContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

@media (max-width: 762px) {
  .blogInfoBox {
    margin-top: 60px;
    // height: 100%;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
  }

  .categoriesContainer {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .mainContainer {
    gap: 1rem;
  }
}
