.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 4rem;
  width: 100dvw;
  flex: 1;
  background: #fff;
  border-radius: 1rem;
}

.container h3 {
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #0a2855;
  padding-bottom: 1rem;
  display: inline-block;
  padding: 1rem 2rem 1rem 0;
}

.container h6 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #0a2855;
}

.careerText {
  color: #000;
  padding-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.careerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.careerBox {
  flex: 1;
  min-width: 350px;
  height: 17rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  box-shadow: 0px 7px 10px -4px rgba(10, 40, 85, 0.67);
  -webkit-box-shadow: 0px 7px 10px -4px rgba(10, 40, 85, 0.67);
  -moz-box-shadow: 0px 7px 10px -4px rgba(10, 40, 85, 0.67);
}

.linkBox {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #0a2855;
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: 0.2s;
}

.linkBox:hover {
  transform: scale(1.1);
}

.pointer {
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: decimal;
  padding: 0.75rem 1.25rem;
}
