.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  box-sizing: border-box;
}

.infinitePostContainer {
  width: 100%;
  height: 100%;
}

.infinitePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  align-items: stretch;
  height: 100%;
  padding: 1rem;
  box-shadow: 0px 7px 9px -10px rgba(10, 40, 85, 0.67);
  -webkit-box-shadow: 0px 7px 9px -10px rgba(10, 40, 85, 0.67);
  -moz-box-shadow: 0px 7px 9px -10px rgba(10, 40, 85, 0.67);
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  border-radius: 12px;
}

.image {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.infoCotainer {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category {
  font-size: 0.9rem;
  color: #909eb1;
  font-weight: bold;
}

.title {
  font-size: 1.3rem;
  color: #0a2855;
  font-weight: bold;
}

.content {
  font-size: 1rem;
  flex: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.isPublic {
  color: #fff;
  background: #0a2855;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .infinitePost {
    padding: 0.5rem;
  }
}
